{% extends 'layouts/AdminLayout.html.twig' %}

{% block main %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Add Media
                <small>please complete fields for create a media</small>
            </h2>
            {#  <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                      </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
              </ul>#}
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <form class="form-horizontal form-label-left" id="reg-media">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Media <span
                                class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="file" name="file" class="form-control" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="type" id="type">
                            {% if types is defined %}
                                {%  for type in types %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="general" selected="selected">general</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-success submit-tour">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

    {% block custom_footer_scripts %}
        <script>
            (function () {
                $("#reg-media").on('submit', (function (e) {
                    e.preventDefault();
                    var url = {{ types is defined ? '' : path('admin_add_media') }}
                        $.ajax({
                            url: url,
                            type: "POST",
                            data:  new FormData(this),
                            contentType: false,
                            cache: false,
                            processData: false,
                            success: function (data) {
                                if (data.status == '1') {
                                    Swal({
                                        type: 'success',
                                        text: data.message
                                    });
                                }
                            },
                            error: function (e) {
                                Swal({
                                    type: 'warning',
                                    text: 'Error'
                                });
                            }
                        });
                }));
            })();


        </script>
    {% endblock %}